{
    "presets": [
        "react",
        "stage-0",
        ["env", {
            "module": false,
            "browser": ["last 2 versions", "ie >= 9"]
        }]
    ],
    "plugins": [
        "transform-runtime",
        "react-hot-loader/babel",
        "transform-decorators-legacy",
		["transform-class-properties", { "loose": true }]
    ]
}